<div class="panel panel-danger">
  <div class="panel-heading">Error!</div>
    <table class="table">
      <tr>
        <td>
          <%= error %>
        </td> 
      </tr>
    </table>
  </div>
</div>

