<h3>Request</h3>
<form method="post" action="/offers">
  <label>uid0:  <input name="uid" type="text"></label></br>
  <label>pub0: <input name="pub0" type="text"></label></br>
  <label>page: <input name="page" type="text"></label></br>
  <input type="submit" value="Submit">
</form>