<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FyberAPI</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container" align="center">
      <a href='/'><h1>FyberAPI</h1></a>
      <%= yield %>
    </div>
  </body>
</html>
